<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pages</title>
</head>
<body>
  <h1>Page 1</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa quidem vel voluptates, magnam soluta dolorem perspiciatis perferendis assumenda dolorum animi consectetur praesentium officiis doloremque, minima maxime dolores aperiam reiciendis fugiat.
  </p>

  <a href="{{ url_for('more') }}">See more here</a> <!--jinja syntax for get path of 'funciton'-->
</body>
</html>