<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>More</title>
</head>
<body>
  <h1>More info</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsam autem et inventore odit perferendis, impedit, at pariatur molestias voluptas reprehenderit odio mollitia repellendus incidunt voluptate laborum dignissimos voluptates. Necessitatibus?
  </p>
  <a href="{{ url_for('index') }}">Go back</a>
</body>
</html>