{% extends "layout.html" %}

{% block heading %}
  More Page
{% endblock %}


{% block body %}
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure hic deserunt commodi molestias ea, recusandae fugiat alias totam, atque et iusto illo corporis pariatur, cum facilis repellendus velit optio explicabo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore consectetur ipsam consequatur, corrupti deleniti pariatur iste, dicta culpa saepe dignissimos aperiam ullam nobis impedit! Libero saepe vero laborum nulla expedita!
  </p>

  <a href="{{ url_for('index')}}">Index</a>
{% endblock %}